bcrypt==4.0.1
cachelib==0.9.0
cffi==1.15.1
click==8.1.3
colorama==0.4.6
cryptography==39.0.0
Deprecated==1.2.14
Flask==2.2.2
Flask-Bcrypt==1.0.1
Flask-Limiter==3.5.0
Flask-Session==0.4.0
Flask-SQLAlchemy==3.0.2
greenlet==2.0.1
importlib-resources==6.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
limits==3.6.0
markdown-it-py==3.0.0
MarkupSafe==2.1.1
mdurl==0.1.2
ordered-set==4.1.0
packaging==23.1
pi==0.1.2
pycparser==2.21
Pygments==2.16.1
rich==13.5.3
SQLAlchemy==1.4.44
typing_extensions==4.8.0
Werkzeug==2.2.2
wrapt==1.15.0
