<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Animated login Form</title>
        <link rel="stylesheet" href="../static/styling2.css">
    </head>
    <body>
            <div class="hti__overlay" style="background-image: linear-gradient(to right, #004df5 0%, #4781ff 100%);"></div>
              <div class="hti__overlay" style="background-image: linear-gradient(to right, #004df5 0%, #4781ff 100%);"></div>
              <div class="hti__content">
                  <div class="container__large">
                  </div>
              </div>
          
            <div class="center">
                <h1>Login</h1>
                <form method="post">
                    <div class="txt_field">
                        <input type="text" value="{{ request.form['username'] }}" placeholder="gebruikersnaam" name="username" id="username" required>
                    </div>
                    <div class="txt_field2">
                        <input type="password"  value="{{ request.form['password'] }}" placeholder="wachtwoord" name="password" id="password" required>
                    </div>
                    <div class="msg">{{ msg }}</div>
                    <div class="wwv"><a href="#">wachtwoord vergeten?</a>
                    </div>
                <input type="submit" value="Login" class="submit-btn" id="login"/>
                    <div class="Inschrijf_link">
                        Nog geen lid? <a href="#">inschrijven</a>
                    </div>
                </form>
        </div>
            </script>
        </body>
</html>