<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Animated login Form</title>
        <link rel="stylesheet" href="../static/styling.css">
    </head>
    <body>
        <div class="center">
            <h1>Login</h1>
            <form method="post">
                <div class="txt_field">
                    <input type="text" value="{{ request.form['username'] }}" placeholder="gebruikersnaam" name="username" id="username" required>
                </div>
                <div class="txt_field2">
                    <input type="password" value="{{ request.form['password'] }}" placeholder="wachtwoord" name="password" required>
                </div>
                <div class="wwv"><a href="#">wachtwoord vergeten?</a>
                </div>
                <input type="submit" value="login" class="submit-btn">
                <div class="Inschrijf_link">
                    Nog geen lid? <a href="#">inschrijven</a>
                </div>
            </form>
        </div>
        <!-- <script>
            function validate()
            {
                var username=document.getElementById('username').value;
                var password=document.getElementById('password').value;
                console.log(username,password)
                if(username == "admin" && password == "user")
                {
                    window.location.assign("/");
                    alert("Login is Succesvol");
                }
                else
                {
                    window.location.assign("/");
                    alert("fout wachtwoord of gebruikersnaam");
                }
                return;
            }
        </script> -->
    </body>
</html>