<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Animated login Form</title>
        <link rel="stylesheet" href="../static/styling.css">
        <script src="login1.js"></script>
    </head>
    <body>
        <div class="center">
            <h1>Login</h1>
            <form method="post">
                <div class="txt_field">
                    <input type="text" placeholder="gebruikersnaam" id="username" required>
                    <span></span>
                </div>
                <div class="txt_field2">
                    <input type="text" placeholder="wachtwoord" id="password" required>
                    <span></span>
                </div>
                <div class="wwv"><a href="#">wachtwoord vergeten?</a>
                </div>
            <input type="submit" value="Login" onclick="validate()">
                <div class="Inschrijf_link">
                    Nog geen lid? <a href="#">inschrijven</a>
                </div>
            </form>
        </div>

    </body>
</html>