<h1>Database onderzoek</h1>
<p>Alle rijen in de tabel <b>{{ table_name }}</b>:</p>
<div id="container" class="container">
  <button id="update-button">Update</button>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            {% for column in columns %}
            <th>{{ column }}</th>
            {% endfor %}
            {% if type == 1 %}
              {% if 'vragen' in table_name %}
              <th>aanpassen</th>
              <th>Verwijderen</th>
              {%endif %}
            {%endif %}
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
        <tr>
            {% for field in row %}
            <td>{{ field }}</td>
            {% endfor %}
            {% if type == 1 %}
              {% if 'vragen' in table_name %}
              <td><button type="button" id="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-vraag="{{ row[2] }}" data-id="{{ row[0] }}" class="wijzig btn btn-warning">Wijzig</button></td>
              <td><button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1" data-vraag="{{ row[2] }}" data-id="{{ row[0] }}" class="verwijder btn btn-danger">Verwijderen</button></td>
              {% endif %}
            {%endif %}
        </tr>
        {% endfor %}
        </tbody>

    </table>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Wijzigen</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/wijzigen" method="POST">
              <div class="modal-body">
                    <input type="hidden" class="farm-control" name="id" value="" id="id">
                      <div class="mb-3">
                        <label class="form-label">Vraag</label>
                        <textarea id="vraag" class="form-control" name="vraag" value="" rows="5" cols="70" ></textarea>
                      </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleer</button>
                <button type="submit" class="btn btn-success">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Weet je zeker dat je dit wilt verwijderen.</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/verwijder" method="POST">
              <div class="modal-body">
                    <input type="hidden" class="farm-control" name="id" value="" id="id1">
                      <div class="mb-3">
                        <label class="form-label">Vraag</label>
                        <textarea id="vraag1" class="form-control" name="vraag" value="" rows="5" cols="70" ></textarea>
                      </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleer</button>
                <button type="submit" class="btn btn-danger">Verwijderen</button>
              </div>
            </form>
          </div>
        </div>
      </div>
</div>
